.faq {
  position: relative;
  padding-top: 1px;

  display: flex;
  flex-direction: column;
  color: white;

  .wave {
    position: relative;
    margin-top: 5%;
    margin-right: 0%;
    margin-bottom: 1px;
  }

  .content {
    position: absolute;
    z-index: 1;
    margin-left: 5%;
    margin-right: 45%;
    top: 15%;
    max-width: 1000px;
    max-height: 1500px;
    padding-bottom: 1px;

    @media screen and (min-width: 1600px) {
      width: 1100px;
    }
  
    @media screen and (max-width: 1200px) {
      margin: auto;
      left: 0%;
      right: 0%;
      width: 85%;
    }

    h1 {
      color: #ffffff;
      font-size: 2.2em;
      font-weight: 600;
      margin-bottom: 1px;

      @media screen and (max-width: 767px) {
        font-size: 1.6em;
        text-align: left;
        margin-bottom: 1px;
      }
    }

    h4 {
      font-size: 1.15em;
      font-weight: 600;
      color: #f37964;
      margin-bottom: 0;

      @media screen and (max-width: 767px) {
        font-size: 1em;
      }
    }

    p {
      font-size: 1.05em;
      line-height: 1.5em;
      margin-top: 3px;
      color: #ffffff;

      &.bold {
        font-weight: 500;
      }
    }
  }
}