.faq {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1px 0;
  margin-top: 100px;
  margin-bottom: 1px;
  overflow: hidden;
  font-size: 0.98em;

  @media screen and (max-width: 1800px) {
    font-size: 0.9em;
  }

  @media screen and (max-width: 767px) {
    margin-top: 0;
  }

  .wave {
    position: relative;
    z-index: 1;

    margin-top: 0%;
    margin-left: 65%;
    margin-right: 0%;
    margin-bottom: 1px;
  }

  .content {
    position: absolute;
    margin-left: 5%;
    margin-right: 45%;
    top: 15%;
    max-width: 1000px;
    padding-bottom: 1px;

    @media screen and (max-width: 1200px) {
      margin-bottom: 1px;
      width: 60%;
      font-size: 0.95em;
    }

    @media screen and (max-width: 767px) {
      font-size: 0.9em;
      width: auto;

      margin-right: 10%;
      margin-bottom: 1px;
      margin-top: 190px;
    }

    h1 {
      color: #ffffff;
      font-size: 2.2em;
      font-weight: 600;
      margin-bottom: 1px;

      @media screen and (max-width: 767px) {
        font-size: 2.15em;
        text-align: left;
        margin-left: 5%;
        margin-bottom: 1px;
      }
    }

    h4 {
      font-size: 1.15em;
      font-weight: 600;
      color: #f37964;
      margin-bottom: 0;

      @media screen and (max-width: 767px) {
        font-size: 1em;
      }
    }

    p {
      font-size: 1.1em;
      line-height: 1.5em;
      margin-top: 3px;
      color: #ffffff;

      &.bold {
        font-weight: 500;
      }
    }
  }
}