{
  "extends": ["react-app", "react-app/jest", "plugin:@typescript-eslint/recommended", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-newline": "off",
    "react/require-default-props": "off",
    "linebreak-style": "off",
    "max-len": "off",
    "react/no-danger": "off",
    "arrow-body-style": "off"
  }
}