{
  "extends": ["react-app", "react-app/jest", "plugin:@typescript-eslint/recommended", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-newline": "off",
    "react/require-default-props": "off",
    "linebreak-style": "off",
    "max-len": "off",
    "no-plusplus": "off",
    "no-bitwise": "off",
    "no-param-reassign": "off",
    "no-return-assign": "off",
    "react/jsx-props-no-spreading": "off",
    "func-names": "off"
  }
}