.timeline {
  color: white;
  margin-top: 125px;
  position: relative;

  .title {
    font-weight: 600;
    font-size: 2.2em;
    margin-bottom: 50px;
    text-align: center;
    &.mobile {
      display: none;
    }

    @media screen and (max-width: 767px) {
      text-align: left;
      margin-left: 5%;
      display: none;
      &.mobile {
        display: block;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    max-width: 1200px;

    @media screen and (max-width: 1200px) {
      width: 85%;
    }

    @media screen and (max-width: 767px) {
      width: 90%;
      justify-content: space-between;
    }

    .content {
      width: 70%;
      display: flex;
      flex-direction: column;
      white-space: pre-line;
      line-height: 1.5em;

      @media (max-width: 767px) {
        width: 80%;
        font-size: 0.9em;
      }

      @media (max-width: 550px) {
        width: 75%;
      }

      @media (max-width: 450px) {
        width: 70%;
      }

      .text {
        margin: 0;
        padding-bottom: 50px;
        margin-top: 15px;
        @media (max-width: 1300px) {
          margin-top: 0;
        }
      }
    }
  }
}
