.home {
  background-color: #1E2E55;
  position: relative;
  padding-bottom: 50px;

  .landscapeExtension {
    position: relative;
    height: min(max(0px, calc((722px - 100vh)/10 + 65px)), 65px);
    margin-top: -5px;
    background-color: #151C44;
  }
}