.hero {
  position: relative;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  // @media screen and (max-width: 1200px) {
  //   min-height: 100px;
  // }

  .logo {
    position: absolute;
    top: 30px;
    left: 30px;

    // height: 8%;
    // width: 10%;
    width: 100px;
  }

  .wave1 {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 75%;
  }

  .wave2 {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 60%;
  }

  .topStars {
    height: 40vh;
    // height: 50vh;

    // background-size: cover;
    // background-size: contain;
    background-size: auto 120%;
    background-position: right;
  }

  .centerStars {
    position: absolute;
    left: 50%;
    transform: translateX(-58%);
    // top: 40vh;
    bottom: 5vh;

    // height: 100vh;
    height: 85vh;
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
  }

  .moon {
    position: absolute;
    right: 6vw;
    top: 6vh;

    height: 30vh
  }

  .leftTrees {
    position: absolute;
    left: 0;
    bottom: 7%;

    height: 85vh;
  }

  .rightTrees {
    position: absolute;
    right: 0;
    bottom: 14%;

    height: 50vh;
  }

  .bottomLandscape {
    position: absolute;
    bottom: -1.25vw;
    left: 0;

    width: 100%;
    height: 21vh;
  }

  .header {
    color: white;
    position: absolute;
    // left: 280px;
    // top: 250px;
    left: 20%;
    top: 32%;

    @media screen and (min-height: 900px) {
      left: 23%;
      top: 35;
    }

    h1 {
      font-weight: 600;
      font-size: 3em;

      text-transform: uppercase;

      margin: 0;
    }

    h3 {
      font-weight: 600;
      // font-size: 1.5em;
    }

    .applyButton {
      display: inline-block;
      text-decoration: none;
      background-color: #EE6C72;
      color: white;

      text-transform: uppercase;
      font-weight: 600;
      font-size: 1em;

      padding: 7px 14px;
      border-radius: 100px;
    }
  }

  .description {
    color: white;

    position: absolute;
    right: 16%;
    bottom: 11%;

    font-weight: normal;
    text-align: center;
    line-height: 25px;
    font-size: .85em;

    // width: 28%;
    width: 375px;

    @media screen and (min-height: 900px) {
      right: 21%;
      bottom: 10%;
    }
  }
}
