.eventInfo {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -26px;
  padding-top: 1px;
  min-height: 57vw;
  font-size: 0.95em;

  @media screen and (min-width: 1800px) {
    min-height: 0;
    height: 1000px;
  }

  @media screen and (max-width: 767px) {
    margin-top: -16px;
  }

  .wave {
    position: absolute;
    margin-left: 0%;
    margin-right: 0%;
    top: 5%;
  }

  .content {
    position: relative;
    z-index: 1;

    padding-bottom: 1px;
    margin-top: 10vw;
    margin-left: 45%;
    margin-right: 5%;
    max-width: 1000px;

    @media screen and (min-width: 1800px) {
      font-size: 1.05em;
    }

    @media screen and (max-width: 1200px) {
      margin-left: 32%;
      margin-right: 8%;
      font-size: 0.95em;
    }

    @media screen and (max-width: 767px) {
      margin-left: 10%;
      margin-right: 10%;
    }

    @media screen and (max-width: 550px) {
      font-size: 0.85em;
    }

    .welcome {
      color: #f37964;
      font-weight: 600;
      font-size: 2em;
      text-transform: uppercase;
    }

    h1 {
      color: #ffffff;
      font-weight: 600;
      font-size: 2em;
    }

    p {
      color: white;
      font-size: 1em;
      line-height: 1.5em;
      margin-bottom: 35px;

      &.bold {
        font-weight: 500;
      }
    }
  }
}
